.homepage__container {
  text-align: left;
  padding: 20px 7%;
  background-color: whitesmoke;
}

.homepage__info {
  display: flex;
  flex-direction: column;
}

.homepage__infoStats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.homepage__stats {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
}

.homepage__stats p {
  font-weight: 500;
}

.homepage__stats h4 {
  margin: 0 10px;
}
