a {
  color: #000;
}

.cryptocurrencies__container {
  text-align: left;
  padding: 20px 7%;
  background-color: whitesmoke;
}

.cryptocurrencies__grid {
  margin-top: 30px;
  text-align: left;
}

.cryptocurrencies__crypto h2 {
  margin-bottom: 30px;
}

.cryptocurrencies__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

.cryptocurrencies__grid img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cryptocurrencies__card {
  background-color: #fff;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cryptocurrencies__card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.7);
}

.cryptocurrencies__cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}

.cryptocurrencies__cardInfos {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}

.cryptocurrencies__cardInfo {
  display: flex;
}

.cryptocurrencies__cardInfo h4 {
  font-weight: bold;
}

.cryptocurrencies__cardInfo p {
  margin-bottom: 5px;
  margin-left: 10px;
}
